.welcome {
    color: #eff7fe;
    text-align: center;
    background-color: #17a2b8;
}

.gap {
    width: 20px;
}

.img-fluid {
    border-radius: 10px;
    height: 250px;
}

@media (min-width: 750px) {
    .img-fluid {
        width: 450px;
    }
}

@media (max-width: 600px) {
    .img-fluid {
        height: 100px;
        width: 250px;
    }

    .gap {
        width: 8px;
    }
}

@media (max-width: 400px) {
    .img-fluid {
        height: 100px;
    }

    .gap {
        width: 5px;
    }
}