{% extends 'base.html' %}
{% load static %}

{% block body %}
{% for x in kegiatan %}
<div class="container">
    <table class="table table-bordered">
        <tr>
            <td class="table-secondary" style="background-color: sandybrown;">{{ x.Nama_Kegiatan }}</td>
        </tr>
        <tr>
            {% for y in peserta %}
            {% if y.ikutKegiatan == x %}
            <tr>
                <td> {{ y.Nama_Peserta }} <a type="button" class="btn btn-outline-danger" href="{% url 'story6:hapusPeserta' y.id %}">Hapus</a></td>
            </tr>
            {% endif %}
            {% endfor %}
        </tr>
    </table>
</div>

<div class="container text-center">
    <a href="register/{{ x.id }}" class="text-white btn btn-primary mx-auto my-2 click">
        Register {{ x.namaKegiatan }}
    </a>
</div>
{% endfor %}

{% endblock %}