body {
    background-color: #eff7fe;
    font-family: Arial, Helvetica, sans-serif;
}

.banner {
    background-image: url(../../profile/images/banner.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: Bubblegum Sans;
    font-variant: small-caps;
    font-size: large;
}

.navbar-toggler {
    background-image: url("../../profile/images/more-removebg-preview.png");
    background-size: 35px 35px;
    background-repeat: no-repeat;
    background-position: center center;
}

.navbar-toggler:hover {
    background-image: url("../../profile/images/more-removebg-hover.png");
    background-size: 35px 35px;
    background-repeat: no-repeat;
    background-position: center center;
}

.nav-link:hover {
    background: linear-gradient(to top, #17a2b8 0%, transparent 100%);
    color: #eff7fe;
}

.dropdown-item:hover {
    background: linear-gradient(to top, #17a2b8 0%, transparent 100%);
    color: #6c6c6c
}

.seacolor {
    color: #eff7fe;
}

.bg-seacolor {
    background-color: #eff7fe;
}

.navbar-brand {
    font-size: xx-large;
    height: fit-content;
}

.navbar-brand:hover {
    color: #17a2b8;
}

.active {
    background: linear-gradient(to top, #17a2b8 0%, transparent 100%);
}

.container {
    border-radius: 10px;
    background-color: #caeaf1;
}

.main {
    border-radius: 0%;
    background-color: transparent;
}

hr {
    border: 0;
    height: 2px;
    background: linear-gradient(to right, #17a2b8 0%, transparent 100%);
}

.sub {
    margin-left: 8px;
    margin-bottom: -15px;
}

.textbox {
    margin-left: 40px;
}

.btn {
    background-color: #17a2b8;
    color: #eff7fe;
}

.btn:hover {
    background-color: #46939f;
}

.footer {
    background-color: #17a2b8;
    height: 70px;
}

.welcome {
    color: #eff7fe;
    text-align: center;
    background-color: #17a2b8;
}

.gap {
    width: 20px;
}

.img-fluid {
    border-radius: 10px;
    height: 250px;
}

@media (min-width: 750px) {
    .img-fluid {
        width: 450px;
    }
}

@media (max-width: 600px) {
    .img-fluid {
        height: 100px;
        width: 250px;
    }

    .gap {
        width: 8px;
    }
}

@media (max-width: 400px) {
    .img-fluid {
        height: 100px;
    }

    .gap {
        width: 5px;
    }
}

.banner {
    background-position: top;
    background-size: 100% 50%;
}

.pp {
    border: 3px solid #EFF7FE;
    border-radius: 50%;
    height: 220px;
    width: 220px;
    display: block;
    margin: auto;
}

.name {
    font-weight: 500;
    text-align: center;
}

.npmangkatan {
    font-size: medium;
    text-align: center;
    line-height: 1.3;
}

.conbox {
    height: 45px;
    width: 60px;
}

.icon {
    height: 40px;
    width: 40px;
}

.year {
    width: 110px;
    margin-left: 10px;
}

ul {
    margin-left: -23px;
    line-height: 1.5;
    font-size: 14;
}

.linkk {
    color: #17a2b8;
}

@media (min-width: 768px) {
    .edu {
        width: 450px;
    }
}

@media (min-width: 780px) {
    .container {
        width: 750px;
    }
}