<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'CSS/main-style.css' %}">
    <link rel="stylesheet" href="assets/bootstrap/css/main-style.css">
    <link rel="stylesheet" href="assets/home/css/style.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Bubblegum+Sans" />
</head>
<body style="background-color: #95d5ff;">
    {% include 'includes/navbar.html' %}
    {% block body %} {% endblock %}

    <br>
    <div class="footer"></div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js">
    </script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>