{% extends 'base.html' %}
{% load static %}

{% block body %}
<br><br>
<div class="container main">
    <table>
        <tr>
            <td>
                <img src="assets/home/images/deer_art_vector_134088_1280x720.jpg" class="img-fluid">
            </td>
            <td class="gap"></td>
            <td>
                <div class="container">
                    <br><br>
                    <h2 class="sub">Lorem</h2>
                    <hr>
                    <div class="textbox">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        <br>
                        <button type="button" class="btn btn-lg">Read More</button>
                    </div>
                    <br><br>
                </div>
            </td>
        </tr>
    </table>
    <br><br>
    <table>
        <tr>
            <td>
                <div class="container">
                    <br><br>
                    <h2 class="sub">Ipsum</h2>
                    <hr>
                    <div class="textbox">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        <br>
                        <button type="button" class="btn btn-lg">Read More</button>
                    </div>
                    <br><br>
                </div>
            </td>
            <td class="gap"></td>
            <td>
                <img src="assets/home/images/lawn_forest_mountains_144578_1280x720.jpg" class="img-fluid">
            </td>
        </tr>
    </table>
</div>
{% endblock %}