.banner {
    background-position: top;
    background-size: 100% 50%;
}

.pp {
    border: 3px solid #EFF7FE;
    border-radius: 50%;
    height: 220px;
    width: 220px;
    display: block;
    margin: auto;
}

.name {
    font-weight: 500;
    text-align: center;
}

.npmangkatan {
    font-size: medium;
    text-align: center;
    line-height: 1.3;
}

.conbox {
    height: 45px;
    width: 60px;
}

.icon {
    height: 40px;
    width: 40px;
}

.year {
    width: 110px;
    margin-left: 10px;
}

ul {
    margin-left: -23px;
    line-height: 1.5;
    font-size: 14;
}

.linkk {
    color: #17a2b8;
}

@media (min-width: 768px) {
    .edu {
        width: 450px;
    }
}

@media (min-width: 780px) {
    .container {
        width: 750px;
    }
}

/*




p {
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 15px;
}

ul {
    margin-left: -20px;
    font-family: Arial, Helvetica, sans-serif;
}



.breakline {
    height: 135px;
}

.edu {
    width: 450px;
}
*/