<div class="banner">
  <div style="height: 100%;">
      <nav class="navbar navbar-expand-lg">
          <a class="navbar-brand ml-4 seacolor" href="#">My Note</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse"
              data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto my-3">
                  <li class="nav-item active my-2">
                      <a class="nav-link seacolor" href="./index"><u>Home</u><span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item dropdown my-2">
                      <a class="nav-link dropdown-toggle seacolor" href="#" id="navbarDropdown" role="button"
                          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <u>Content</u>
                      </a>
                      <div class="dropdown-menu bg-seacolor" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="./kegiatan">Kegiatan</a>
                          <a class="dropdown-item" href="#">Another action</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="#">Something else here</a>
                      </div>
                  </li>
                  <li class="nav-item mr-4 my-2">
                      <a class="nav-link seacolor" href="./profile"><u>About</u><span
                              class="sr-only">(current)</span></a>
                  </li>
              </ul>
          </div>
      </nav>
      <br><br><br><br><br><br><br>
      <div class="container welcome">
          <br>
          <h1>WELCOME TO MY BLOG!!!</h1>
          <br>
      </div>
  </div>
</div>